{% extends "moto/base.html" %}

{% block title %}
    {{ title }}
{% endblock %}



{% block sidebar %}
<div class="col-xl-2">
    <div class="list-group">
        {% for i in cats %}
        <a href="{% url 'cats' i.pk %}" class="list-group-item list-group-item-action">{{ i.name }}</a>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block content %}
<div class="col-xl-8 mt-xl-0 mt-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-9 col-md-12">
                {% for i in moto %}
                <div class="card mb-3">
                    <div class="card-header">
                        Категория: <a href="{% url 'cats' i.cats.pk %}">{{ i.cats }}</a>
                    </div>
                    <div class="card-body">
                        <div class="media">
                            {% if i.photo %}
                            <img src="{{ i.photo.url }}" alt="" width="350" class="mr-3">
                            {% else %}
                            <img src="https://cdn.create.vista.com/api/media/medium/270835036/stock-vector-sportbike-thin-line-icon-transport?token="
                                 alt="" width="350">
                            {% endif %}
                        </div>
                        <h5 class="card-title">{{ i.title }}</h5>
                        <p class="card-text">{{ i.content|truncatewords:55 }}</p>
                        <a href="{{ moto_item.get_absolute_url }}" class="btn btn-primary">Читать</a>
                    </div>
                    <div class="card-footer text-muted">
                        {{ i.time_create }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

